@reference 'tailwindcss';

html {
  scroll-behavior: smooth;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src:
    local('Inter_18pt-Regular'),
    local('Inter 18pt Regular'),
    url('/fonts/Inter_18pt-Regular.ttf') format('truetype');
  font-family: 'Inter';
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-weight: 400;
  src:
    local('Inter_18pt-Italic'),
    local('Inter 18pt Italic'),
    url('/fonts/Inter_18pt-Italic.ttf') format('truetype');
  font-family: 'Inter';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src:
    local('Inter_18pt-Bold'),
    local('Inter 18pt Bold'),
    url('/fonts/Inter_18pt-Bold.ttf') format('truetype');
  font-family: 'Inter';
  font-display: swap;
}

body {
  font-family: 'Inter', sans-serif;
  background: white;
}

header a {
  color: white;
}

p a {
  @apply text-emerald-800 decoration-wavy;
}

p + p {
  margin-top: 1rem;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

.list-row::after {
  display: none;
}

li h3 {
  @apply text-sm mt-1 mb-0;
}

li svg {
  min-width: 1rem;
}

a.list-row {
  @apply px-4 py-3 border no-underline block mb-3;
  max-width: 620px;
}

.award {
  font-size: 0.7rem;
  @apply leading-snug;
}

a.btn {
  display: flex;
}

.accordion {
  max-width: 620px;
  .icon-plus {
    @apply hidden;
  }
  h3 {
    @apply text-sm! mb-0!;
    font-weight: 700 !important;
    a {
      font-weight: 700;
    }
  }
  li {
    padding: 0;
  }
  .title {
    padding: 0;
  }
  .content {
    padding: 0.5rem 1rem !important;
    border-radius: 0.3rem;
    border: 1px solid #dce2eb;
    margin-bottom: 1.5rem;
    li {
      margin-top: 1.5rem;
      span {
        @apply inline-block;
      }
    }
  }
}

.list-none li a {
  border-radius: 0.3rem;
  margin-bottom: 1rem;
}

h3 + div {
  @apply text-sm;
}