---
/**
 * Navigation Component
 *
 * @description A component that displays the navigation menu for the website
 */
---

<div id="main-navigation" class="bg-amber-100">
  <nav class="desktop-menu" aria-label="Main navigation">
    <slot />
  </nav>
</div>