---
import '../styles/tailwind.css'
import '../assets/scss/main.scss'
import SiteMeta from '../components/SiteMeta.astro'

const {
  description = 'Britney Dennison is an award-winning journalist and journalism educator. She’s the current Executive Editor at the Global Reporting Centre, based at the University of British Columbia’s School of Journalism, Writing, and Media.',
  author = 'Britney Dennison',
} = Astro.props
---

<html lang="en" dir="ltr" data-theme="nord">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />

    <SiteMeta description={description} url="https://britneydennison.com" author={author} />

  </head>
  <body class="mx-auto max-w-[1600px]">
    <slot />
  </body>
</html>